@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
      --color-brand--1: #ffb545;
      --color-brand--2: #00c46a;

      --color-dark--1: #2d3439;
      --color-dark--2: #42484d;
      --color-light--1: #aaa;
      --color-light--2: #ececec;
      --color-light--3: rgb(214, 222, 224);
}

.hidden {
      visibility: hidden;
      transform: translateY(-30rem);
      height: 0;
      padding: 0 2.25rem;
      margin-bottom: 0;
      opacity: 0;
}

* {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      user-select: none;
}

.container {
      width: 97%;
      margin: auto;
      margin-top: 1.3rem;
      display: flex;
      border-radius: 12px;
}

.list__container {
      width: 30%;
      background-color: var(--color-dark--1);
      padding: 1rem;
}



.header__list {
      text-align: center;
}

.header__list i {
      color: rgb(132, 177, 87);
      font-size: 4rem;
}

.header__list span {
      font-size: 2rem;
      color: #fff;
}

#map {
      width: 70%;
      float: right;
      height: 95vh;
      background-color: gray;
}

.hidden__input {
      display: none;
}

.footer p {
      color: rgb(204, 199, 199);
}

.scroll__window {
      width: 100%;
      height: 40rem;
      overflow: scroll;
}

.scroll__window::-webkit-scrollbar {
      width: 0;
}

.footer p {
      text-align: center;
}

.form {
      width: 100%;
      height: 16%;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 50% 1fr;
      gap: 1rem;
      background-color: var(--color-light--2);
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5);
      border-left: 4px solid var(--color-brand--1);
      transition: all 0.5s, transform 1ms;
}

.col {
      display: flex;
      justify-content: space-between;
}

.options .input {
      width: 84px;
      padding: 3px 5px;
      border-radius: 5px;
      border: none;
      background: var(--color-dark--2);
      color: var(--color-light--1);
      cursor: pointer;
}



.input::placeholder {
      color: var(--color-light--1);
}

.tital {
      font-size: 13px;
}

.tital h4 {
      color: #000;
}

.lable__pre {
      width: 100%;
      border-radius: 10px;
      background-color: var(--color-dark--2);
      padding: 1rem;
      margin-top: 2rem;
      box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5);
      border-left: 4px solid var(--color-light--1);
      color: #fff;
}

.head {
      margin-top: 0.5rem;
}

.manu__item {
      width: 25rem;
      display: flex;
      margin-top: 1rem;
      justify-content: space-between;
}

@media screen and (max-width:1024px) {
      .tital {
            font-size: 10px;
      }

      .form {
            width: 100%;
            grid-template-columns: 100%;
            height: 30%;
      }

      .manu__item {
            display: grid;
            grid-template-columns: 50% 1fr;
      }

      .lable__pre {
            width: 100%;
      }

      #map {
            width: 70%;
            height: 60%;
            border: 1px solid red;
            float: right;
      }
}

@media screen and (max-width:987px) {
      .container {
            width: 100%;
            height: auto;
            margin: 0%;
            height: 100vh;
            display: inline-block;
      }

      .tital {
            font-size: 15px;
      }

      .footer {
            display: none;
      }

      .list__container {
            position: relative;
            width: 100%;
            height: 100vh;
      }

      .map__container {
            position: absolute;
            top: 90%;
            width: 100%;
            border-radius: 10px 10px 0rem 0rem;
      }

      .lable__pre {
            width: 100%;
      }

      #map {
            margin-top: -10%;
            float: none;
            width: 100%;
      }

}

.leaflet-popup .leaflet-popup-content-wrapper {
      background-color: var(--color-dark--1);
      color: var(--color-light--2);
      border-radius: 10px;
      padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
      font-size: 1.2rem;
      text-align: center;
}

.leaflet-popup .leaflet-popup-tip {
      background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
      border-left: 5px solid var(--color-brand--2);
}

.cycling-popup .leaflet-popup-content-wrapper {
      border-left: 5px solid var(--color-brand--1);
}